<html>
    <head>
        <title>Message Details</title>
    </head>
    <body>
        <p>Author: <%= message.user %></p>
        <p>Text: <%= message.text %></p>
        <p>Added: <%= message.added %></p>

        <%- include('navbar', {links: links}); %>
    </body>
</html>